<h4>OPTUM</h4>
<p>Optum, a part of UnitedHealth Group, is a pharmacy benefit manager and care services group operating across 150 countries in North America, South America, Europe, Asia Pacific and the Middle East.</p>
<p>In 2011, United HealthGroup formed Optum by merging its existing pharmacy and care delivery services into the single Optum brand.</p>
<p>Optum comprises of three main businesses: OptumHealth, OptumInsight and OptumRx.</p>
<p>In 2017, Optum accounted for 44 percent of UnitedHealth Group's profits and as of 2019, Optum's revenues have surpassed $100 billion.</p>
