<mat-toolbar role="heading">
    <!-- <button>
        <mat-icon *ngIf="show"  (click)="onToggleSidenav()">menu</mat-icon>
    </button> 
svgIcon="baricon"-->

    
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>

    <span>UNITEDHEALTH GROUP</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <!-- <span>Logout</span> -->
    <button class="button" (click)="loginpage()">Logout</button>

</mat-toolbar>
<app-sidenav (close)=onClose($event) [open]="navbar"> </app-sidenav>