mat-sidenav-content{
    background-color: white;
    z-index: 5;
}
mat-sidenav-container{
    
    position: fixed;
    bottom:30px;
    top:60px;
    left:0;
    right:0;
}
mat-sidenav{
    background-color: #ebebe0;
    width:250px;
}
