<h4>UnitedHealthcare</h4>

<p>UnitedHealthcare includes four divisions:</p>

<p>UnitedHealthcare Employer and Individual - provides health benefit plans and services for large national employers</p>
<p>UnitedHealthcare Medicare and Retirement - provides health and well-being services to individuals age 50 and older.</p>
<p>UnitedHealthcare Community and State - serves state programs that care for the economically disadvantaged, the medically underserved and people without the benefit of employer-funded health care coverage, in exchange for a monthly premium per member from the state program.</p>
<p>UnitedHealthcare Global - serves 6.2 million people with medical benefits, residing principally in Brazil, Chile, Colombia and Peru but also in more than 130 other countries.</p>
